.aboutTheMovie {
    margin-top: 64px;
    &__content {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
        
       

        &__image {

           img {
                width: 100%;    
           }
        }

        &__text {
            h1 {
                margin-bottom: 24px;
            }

            p {
                margin-bottom: 16px ;
            }
        }

    }
}