.aboutTheMovie {
    margin-top: 128px;

    @media (max-width: 768px) {
        margin-top: 24px;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
        margin-top: 32px;
    }

    &__content {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;


        @media (max-width: 768px) {
            display: block;

        }

        @media (min-width: 769px) and (max-width: 1023px) {
            display: block;
        }

        &__image {

            img {
                width: 100%;

                @media (max-width: 768px) {
                    margin-bottom: 34px;

                }

                @media (min-width: 769px) and (max-width: 1023px) {
                    margin-bottom: 32px;
                }


            }
        }

        &__text {
            h1 {
                margin-bottom: 24px;
            }

            p {
                margin-bottom: 16px;
            }
        }

    }
}