.curiosities {


    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    h3 {
        text-align: center;
        margin-bottom: 24px;
        font-size: 2rem;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}