@use 'variables';
@use 'aboutTheMovie';
@use 'trailers';
@use 'faq';
@use 'curiosities';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 90%;
    }

}

body {
    background-color: variables.$backgrounColor;
    font-family: 'Roboto', sans-serif;

}

@mixin text($fontSize: 1.2rem) {
    font-size: $fontSize;
    color: variables.$mainTextColor;
}

@mixin title($fontSize: 3.5rem) {
    font-size: $fontSize;
    color: variables.$titleTextColor;
    letter-spacing: .2rem
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(1rem)
    }

    @media (min-width: 769px) and (max-width: 1023px) {
        @include text(1.5rem)
    }


}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(2.5rem);
        text-align: center;
    }
}

.title--medium {
    @include title(2.5rem);

    @media (max-width: 768px) {
        @include title(2rem)
    }
}



.custom-carousel {
    width: 50%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
        width: 70%;
    }

    @media (min-width: 1024px) {
        width: 80%;
    }
}

.carousel-caption {
    color: #000;

    @media (max-width: 768px) {
        color: #fff;
    }
}