.trailers {
    margin: 64px 0;
    

    &__content {

        display: flex;
        justify-content: space-between;
        overflow: hidden;
       
        

        &__officialTrailer, &__behindScenes {

            h2 {
                margin-top: 64px;
                margin-bottom: 24px;
                text-align: center;
            }
        }
    }
}